* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card {
  width: 100%;
  max-width: 500px;
  margin-left: 100px;
  padding-top: 10%;
}

.title {
  color: white;
  font-size: 35px;
  line-height: 50px;
  border-left: 3px solid #fff;
  padding-left: 20px;
}

.title span {
  color: #ffff03;
}

.calculator {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 40px 0;
  padding: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.date-input {
  flex: 1;
  color: black;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 12px 25px;
  cursor: pointer;

}

.calculate-btn {
  border: none;
  outline: none;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  padding: 13px 25px;
  background: #ffea03;
  cursor: pointer;
}

.display-result {
  color: white;
}

.validation-result {
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 600;
  color: rgb(255, 0, 0);
}

.result span {
  font-weight: 600;
  color: #ffff03;
}